<!DOCTYPE html>
<html>
<head>
	<title></title>
<style> 
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

}


input[type=text]:focus {
  width: 100%;
}
input {
	text-align: center;
}
.search{
	width: 50%;
	text-align: center;
	margin-left: 312px
}
.movie-detail{
	width: 400px;
	height: 350px;
	text-align: center;
	display:inline-block;
	margin-top:20px;
	margin-left:15px;

}
.movie-list{
	width: 100%;
	margin-top: 47px;
	height: 100%;
	text-align: center;

}
/*.watchlist{
	position: absolute;

}*/
h2 {
	color: white;
	bottom: 0px;
}

</style>
</head>
<body>
<h3>Welcome {{user_obj.username}}!!!</h3>
<a href="/watchlist/">Your Watchlist</a>
<a style="float: right;"  href="/logout/">Logout</a>
<div class="search">
<input type="text" name="search" id="search" placeholder="Search.." oninput="return search_movies(this.value)">
</div>
<div class="movie-list" id="movie-list" >
	{% for res in data.results %}

	<div class="movie-detail" title="overview: {{ res.overview }}" style='background-image: url("https://image.tmdb.org/t/p/w500{{ res.poster_path }}");'>
		<div class="title"><h2>Title: {{res.title}}</h2></div>
		{% if res.is_already_added == False %}
			<div class="watchlist" ><button type="button" id="create-watchlist{{ res.id }}" value="{{ res.id }}" onclick="return add_to_watchlist(this.value)">Add to Watchlist</button></div>
		{% else %}
			<h3 style="color: white;" > Already Added </h3>
		{% endif %}
	</div>

	{% endfor %}

</div>



</body>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
	
function search_movies(value) {
	console.log(value)
	$.ajax({
		url:'/search/',
		data:{
			'search':value
		},
		dataType:'json',
		success: function(response_data){
			
			var objTo = document.getElementById('movie-list')
			objTo.innerHTML = response_data.search_result
			
		}
	})
}

function add_to_watchlist(movie_id) {
	console.log(movie_id)
	$.ajax({
		url:'/create-watchlist/',
		data:{
			'movie_id':movie_id
		},
		dataType:'json',
		success: function(response_data){
			
			if(response_data.result == 'success'){
				$('#create-watchlist'+movie_id).hide()
			}
			else{
				alert('Already Added')
			}
		}
	})
}

</script>
</html>


