{% for res in data.results %}
<div class="movie-detail" title="overview: {{ res.overview }}" style='background-image: url("https://image.tmdb.org/t/p/w500{{ res.poster_path }}");'>
		<div class="title"><h2>Title: {{res.title}}</h2></div>
		{% if res.is_already_added == False %}
			<div class="watchlist" ><button type="button" id="create-watchlist{{ res.id }}" value="{{ res.id }}" onclick="return add_to_watchlist(this.value)">Add to Watchlist</button></div>
		{% else %}
			<h3 style="color: white;" > Already Added </h3>
		{% endif %}
	</div>
{% endfor %}