<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.movie-detail{
	width: 400px;
	height: 350px;
	text-align: center;
	display:inline-block;
	margin-top:20px;
	margin-left:15px;

}
.movie-list{
	width: 100%;
	margin-top: 47px;
	height: 100%;
	text-align: center;

}
h2 {
	color: white;
	bottom: 0px;
}
	</style>
</head>
<body>

<h3>Your Watchlist</h3>
<a href="/index/">Return Home</a>
<a style="float: right;"  href="/logout/">Logout</a>
<div class="movie-list" id="movie-list" >
	{% for res in data %}
	<div class="movie-detail" title="overview: {{ res.overview }}" style='background-image: url("https://image.tmdb.org/t/p/w500{{ res.poster_path }}");'>
		<div class="title"><h2>Title: {{res.title}}</h2></div>
		<div class="watchlist" ><button type="button" id="create-watchlist{{ res.id }}" value="{{ res.id }}" onclick="return remove_from_watchlist(this.value)">Remove from Watchlist</button></div>
	</div>
	{% endfor %}
</div>

</body>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
	

function remove_from_watchlist(movie_id) {
	console.log(movie_id)
	$.ajax({
		url:'/remove-watchlist/',
		data:{
			'movie_id':movie_id
		},
		dataType:'json',
		success: function(response_data){
			
			if(response_data.result == 'success'){
				location.reload();
			}
		}
	})
}

</script>
</html>